@font-face {
    font-family: 'abhaya_libreregular';
    src: url('fonts/AbhayaLibre-Regular-webfont.eot');
    src: url('fonts/AbhayaLibre-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AbhayaLibre-Regular-webfont.woff2') format('woff2'),
         url('fonts/AbhayaLibre-Regular-webfont.woff') format('woff'),
         url('fonts/AbhayaLibre-Regular-webfont.ttf') format('truetype'),
         url('fonts/AbhayaLibre-Regular-webfont.svg#abhaya_libreregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'abhaya_librebold';
    src: url('fonts/AbhayaLibre-Bold-webfont.eot');
    src: url('fonts/AbhayaLibre-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AbhayaLibre-Bold-webfont.woff2') format('woff2'),
         url('fonts/AbhayaLibre-Bold-webfont.woff') format('woff'),
         url('fonts/AbhayaLibre-Bold-webfont.ttf') format('truetype'),
         url('fonts/AbhayaLibre-Bold-webfont.svg#abhaya_librebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
margin: 0;
}

#bloc_page
{
    font-family: AbhayaLibre-Regular, sans-serif;
     width: 1000px;
     max-width: 100%;
      border:1px solid #1FC6DE;
      overflow: auto;
      margin: auto;
}

h1
{
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0;
}

strong
{
    font-weight: normal;
    color: #1FC6DE;
}

em
{
    font-style: normal;
    border-bottom: solid 1px #1FC6DE;
}

header
{
    display: flex;
}

.titre_cv
{
    width: 70%;
    margin: 70px 0 50px 0;
    padding-left: 5%;
    padding-right: 5%;
}

.photo_presentation
{
    display: flex;
    background:#1FC6DE; 
    width: 30%;
    min-width: 30%;
    justify-content: center;
    align-items: center;
}
.id_photo
{
    width: 170px;
    height: 170px;
    border:2px solid #1FC6DE ;
    border-radius: 100%;
    overflow: hidden;
     object-fit: cover;
}

#cv
{
    display: flex;
    justify-content: flex-start;
}

#colone_gauche
{
    width: 30%;
    min-width: 30%;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1FC6DE;

}

.contact_info 
{
    font-family:  AbhayaLibre-Regular, sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    margin-right: 0px;
    text-align: left;
    padding-left: 20px;
}

.contact_info h4
{
  margin-bottom: 0;
  font-weight: bold;
}
.contact_info p
{
margin-top: 0;
}

h2, h3, h4
{
    font-weight: normal;
}

.ma_education h3, .experience_pro h3
{
  font-weight: bold;
}

#contact, #presentaion, #loisirs
{
    width: 100%;
    text-align: center;
    
  
}

#contact h2, #presentaion h2, #loisirs h2
{
   width: 100%;
   background: #1FDED8;
   color: #1FC6DE; 
   padding: 2px 0 2px 0;   
}



#loisirs i
{

     width: 40px;
    border: solid 2px #1FDED8 ;
    border-radius: 100%;
    padding:5px 5px 5px 5px ;
}


.mes_loisirs 
{
     display: flex;
     justify-content: space-around;
     margin-top: 40px;
}

#presentation
{
    height: 30%;
}

.propo_text
{

padding: 0 20px 0 20px;

}

#curricula
{
    width: 70%
    padding-left: 5%;
    padding-right: 5%;
}
#curricula
{
    margin-left: 15px;
}
.education_titre
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 5px;
}
.diplome
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.societe
{
    width: 60%;
    margin-left: 15%;
}
.societe p
{
    font-size: 0.9em;
    margin-top: 8px;
}
.societe h3
{
  margin-bottom: 8px;
}


.date_place
{
    display: flex;
    font-size: 0.8em;
    width: 200px;
    align-items: center;
    
}
.experience_titre
{
    display: flex;
}
.travail
{
    display: flex;
    justify-content: space-between;
}
.recommandation_titre
{
    display: flex;
}

.date_place i
{
  width: 15px;
  min-width: 15px;
  margin-right: 15px;
  opacity: 0.7;
}
.education_titre h2, .experience_titre h2,.recommandations_titre h2
{
    margin-bottom: 10px;
    font-weight: bold;
  
}
.education_titre, .experience_titre, .recommandation_titre
{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #1FC6DE;
    margin: 25px 0 25px 0 ;
}

.education_titre i, .experience_titre i, .recommandation_titre i
{
     width: 30px;
    margin-right: 20px;
    opacity: 0.7;
}

#curricula i
{
   margin:15px;
}

@media all and (max-width: 785px)
{
	body
	{
		margin: 0;
	}
    #bloc-page{
        box-shadow: none;
        border: none;
        width: 100%;
    }
     header{
        flex-direction: column;
        align-items: center;
    }
    .photo-presentation{
        width: 100%;
    }
    .id-photo
    {
        margin: 10px;
        width: 100px;
        height: 100px;

    }

    .titre_cv
    {
      margin:0;
    }

  .titre_cv h1
  {
    font-size: 1.5em;
  }

  .titre_cv h3
  {
    margin: 2px;
  }
  
  #cv
  {
    flex-direction: column-reverse;
  }


}
